body {
    background-color: #DBF1FF;
    font-family: Arial;
    text-align: center;
}

h1 {
    font-weight: bold;
}
header {
    gt
}

.login {
    border: 2px solid white;
    padding: 5px;
    margin:
}

#new-username-regex {
    font-size: 75%;
    color: #606060;
}

#antisocial-tag {
    font-size: 25%;
    color: #606060;
}

input[type=text] {
    border-radius: 4px;
    margin: 4px;
}

.blurb {
    padding: 5px;
    border-radius: 10px;
    margin: 5px auto;
    background-color: #F0F0F0;
}

.blurbList {
    border: 2px solid #535353;
    padding: 5px;
    margin: 10px auto;
    list-style: none;
    background-color: #A6A6A6;
}

@media (min-width: 710px) {
    .skinny {
        width: 33%;
        margin: 0 auto;
        border-radius: 10px;
        box-shadow: 10px 10px 10px;
    }
}
@media (max-width: 710px) {
    .skinny {
        width: 95%;
        right-padding: 10px;
        margin: 0px;
        border-radius: 10px;
    }
}

#710 is the magic number


