<!DOCTYPE html>
<html>
<head>

<title> Blurbs by [% username %] </title></head>
<body>

<form action="/unlogin">
<input type="submit" value="Log out" formmethod="post"></input>
</form>

Hi, [% username %]. Blurb away.

<form action="/blurb">
<input name="blurb_content" type="text" autofocus> </input>
<input type="hidden" name="username" value="[% username %]"></input>
<input type="submit" value="Write blurb" formmethod="post"></input>
</form>

[% FOREACH blurb IN blurbs %]

<p>
[% blurb.date %]
</p>
<p id="[% blurb.blurb_id %]">
[% blurb.content %]
</p>
<hr>
[% END %]



</body>
</html>
