<!DOCTYPE html>
<html>
<head>

<title> Blurbs by [% username %] </title>
<link rel="stylesheet" type="text/css" href="css/base.css" type="style"></link>
<link href="img/favicon.ico" rel="shortcut icon" type="image/x-icon" />

</head>
<body>

<form action="/unlogin">
<input type="submit" value="Log out" formmethod="post"></input>
</form>

Hi, [% username %]. Blurb away.

<div id="blurb-list-root"> LOADING APP... </div>

<script src="blurbs.bundle.js"></script>

</body>
</html>
